{% extends "main/base.html" %}
{% load static %}

{% block content %}

<img class="map_bg" src="{% static 'img/fire.svg' %}" alt="">

<div class="container" style="margin-bottom: 3rem;">
    <div class="row ">
        <div class="col-md-5">
            {% for place in places %}
            <div class="map-all">
                <div class="map-call d-flex">
                    <img src="{% static 'img/telefon.svg' %}" alt="телефон" style="width: 25px; height: 25px; margin-right: 0.5rem;">
                    <a href="tel:{{ place.phone }}">{{ place.phone }}</a>
                </div>
                <div class="map-adress">
                    <p>{{ place.address }}</p>
                </div>
            </div>
            <div class="map-line">
            </div>
            {% endfor %}
        </div>
        <div class="col-md-7">
            <iframe src="{{ profile.map }}" width="611" height="551" frameborder="0" style="width: 100%; border-radius: 10px;"></iframe>
        </div>
    </div>
</div>
{% endblock content %}

