{% load static %}

<img class="main_bg" src="{% static "img/fire.svg" %}" alt="">
<div class="main container" data-aos="fade-up">
    <div class="main-title">
        <h1 class="main-title__heading">
            {{ main.title|safe }}
        </h1>
    </div>
    <div class="main-text">
        <p class="main-text__paragraph">
            {{ main.description|safe }}
        </p>
    </div>
    <div class="main-button">
        <a class="main-button__link" href="{% url "index" %}#menu">ПЕРЕЙТИ К МЕНЮ</a>
    </div>
</div>