{% load static %}

<div data-aos="fade-up">
    <div class="menu-pop">
        <p class="menu-pop__name">Популярное</p>
    </div>
    <div class="row d-flex justify-content-between">
        {% for dish in popular_dishes %}
            <div class="col-md-5 menu-pos">
                <div class="menu-img">
                    <img src="{% if dish.img %}{{ dish.img.url }}{% endif %}" alt="{{ dish.name }}">
                </div>
                <div class="menu-name d-flex justify-content-between">
                    <div class="menu-name__naming">
                        <p class="menu-name__naming__text mb-0">{{ dish.name }}</p>
                        <p class="menu-name__naming__text">{% if dish.description %}{{ dish.description|safe }}{% endif %}</p>
                    </div>
                    <div class="menu-name__price">
                        <p class="menu-name__price__text">{{ dish.price }} ₽</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
